*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 86%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    color: orange;
}
body{
    background: url(/Imagens/Massagem\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    text-shadow: 1px 2px black;
}
header{
    position: relative;
    height: 15vh;
    width: 100%;
    padding-top: 1%;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
header div{
    position: absolute;
    width: 95%;
    height: 95%;
    border-left: solid 2px orange;
    border-top: solid 2px orange;
    border-right: solid 2px orange;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left: solid 2px orange;
    border-right: solid 2px orange;
    width: 95%;
    margin: auto;
}
main section{
    width: 90%;
    margin: auto;
}
.section1{
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.section2{
    text-align: left;
    height: 75vh;
}
.section2 img{
    width: 40%;
    float: right;
    margin-left: 5%;
    border-radius: 5px;
}
.section2 h2{
    margin: 20px;
}
.section3{
    height: 50vh;
}
.section3 div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
}
.section3 div div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    margin: auto;
}
.section3 div div img{
    width: 80%;
    height: 70%;
    object-fit: cover;
}
.section5{
    padding-bottom: 2%;
}
footer{
    position: relative;
    padding: 1%;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    position: absolute;
    width: 95%;
    height: 95%;
    border-left: solid 2px orange;
    border-bottom: solid 2px orange;
    border-right: solid 2px orange;
}
footer section{
    display: flex;
}
footer section p{
    display: flex;
}
