* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 86%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    color: orange;
}

body {
    background: url(/Imagens/Massagem\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    background-position: 75%;
    text-shadow: -2px 2px black;
}

header {
    position: relative;
    height: 15vh;
    width: 100%;
    padding-top: 1%;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

header div {
    position: absolute;
    width: 95%;
    height: 95%;
    border-left: solid 2px orange;
    border-top: solid 2px orange;
    border-right: solid 2px orange;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left: solid 2px orange;
    border-right: solid 2px orange;
    width: 95%;
    margin: auto;
}

main section {
    width: 90%;
    height: auto;
    margin: auto;
    margin-block: 4%;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 8%;
}

.section2 {
    text-align: left;

}

.section2 img {
    width: 40%;
    min-width: 200px;
    object-fit: cover;
    border-radius: 5px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    margin-bottom: 4%;
}

.section2 h2 {
    margin: 20px;
}

.section3 p {
    width: max-content;
}

.section3 h2 {
    margin: auto;
    margin-block: 4%;
}

.section3 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.section3 div div {
    display: flex;
    flex-direction: column;
    flex: 200px;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 25px;
}

.section3 div div img {
    width: 100%;
    aspect-ratio: 1/1;    
    object-fit: cover;
}

.section4 {
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.section4 iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
}

.section4 div {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section5 {
    padding-bottom: 2%;
}

footer {
    position: relative;
    padding: 1%;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    position: absolute;
    width: 95%;
    height: 95%;
    border-left: solid 2px orange;
    border-bottom: solid 2px orange;
    border-right: solid 2px orange;
}

.contato {
    position: relative;
    width: auto;
    height: auto;
    border: none;
    margin: 10px;
    text-align: center;
}
.section6{
    position: fixed;
    background-color: red;
    
}
